@font-face {
  font-family: 'ethnocentric';
  src: url('./web/fonts/EthnocentricRg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-ethnocentric {
  font-family: 'ethnocentric', sans-serif;
}