@font-face {
  font-family: 'ethnocentric';
  src: url('./fonts/EthnocentricRg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-ethnocentric {
  font-family: 'ethnocentric', sans-serif;
}

@font-face {
  font-family: 'coolvetica';
  src: url('./fonts/CoolveticaRg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-coolvetica {
  font-family: 'coolvetica', sans-serif;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
}

/*tried to make delays for each number but it's not working cause java script only loads the shits after Ay what if i hang myself*/
.fade-in-days {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1.5s; 
}

.fade-in-hours {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1.7s; 
}

.fade-in-minutes {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1.9s; 
}

.fade-in-seconds {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 2.1s; 
}
@keyframes fadeIn {
  from {
    opacity: 0;

  }
  to {
    opacity: 1;

  }
}

.menu-btn {
  margin-left: 1rem; /* ml-4 */
  display: inline-block;
  transform: skewX(-9deg); /* -skew-x-9 */
  padding: 0.25rem 0.25rem; /* px-1 py-1 */
  color: white;
  cursor: pointer;
  background: linear-gradient(135deg, #dc2626, #7f1d1d); /* approximate from-red-600 to-red-900 */
  border-radius: 0; /* adjust if needed */
  margin-top: 0.25rem
}