@font-face {
  font-family: 'ethnocentric';
  src: url('./fonts/EthnocentricRg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-ethnocentric {
  font-family: 'ethnocentric', sans-serif;
}

@font-face {
  font-family: 'coolvetica';
  src: url('./fonts/CoolveticaRg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-coolvetica {
  font-family: 'coolvetica', sans-serif;
}

.fade-in-right {
  opacity: 0;
  transform: translateX(50px); /* start shifted to the right */
  animation: fadeInRight 1s ease-out forwards;
  animation-delay: 1s; /* optional delay */
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}